#menu-bar {
  width: 95%;
  margin: 2px 0px 0px 0px;
  padding: 3px 3px 8px 6px;
  height: 41px;
  line-height: 100%;
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  box-shadow: -3px 2px 9px #F20202;
  -webkit-box-shadow: -3px 2px 9px #F20202;
  -moz-box-shadow: -3px 2px 9px #F20202;
  background: #FEFAFF;
  border: solid 2px #E01D37;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 3px 0px 6px 0px;
  padding: 2px 10px 2px 6px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: 'arial black';
  font-style: normal;
  font-size: 20px;
  color: #E70202;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  text-shadow: 2px 2px 3px #0F0F0F;
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #0399D4;
  background: linear-gradient(top,  #EBEBEB,  #EB0000);
  background: -ms-linear-gradient(top,  #EBEBEB,  #EB0000);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#EB0000));
  background: -moz-linear-gradient(top,  #EBEBEB,  #EB0000);
  color: #160C44;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #0399D4 !important;
  background: linear-gradient(top,  #E9E5EC,  #EBC0E2) !important;
  background: -ms-linear-gradient(top,  #E9E5EC,  #EBC0E2) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#E9E5EC), to(#EBC0E2)) !important;
  background: -moz-linear-gradient(top,  #E9E5EC,  #EBC0E2) !important;
  color: #FFFFFF !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #F7363D);
  background: -ms-linear-gradient(top,  #FFFFFF,  #F7363D);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F7363D));
  background: -moz-linear-gradient(top,  #FFFFFF,  #F7363D);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 32px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-box-shadow: 2px 2px 3px #222222;
  -moz-box-shadow: 2px 2px 3px #222222;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#0A0A0A !important;
  font-size:12px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 16px;
  -webkit-border-top-left-radius: 16px;
  -moz-border-radius-topleft: 16px;
  border-top-right-radius: 16px;
  -webkit-border-top-right-radius: 16px;
  -moz-border-radius-topright: 16px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
  -moz-border-radius-bottomleft: 16px;
  border-bottom-right-radius: 16px;
  -webkit-border-bottom-right-radius: 16px;
  -moz-border-radius-bottomright: 16px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}